{{template "pkg_name" $.PkgName}}
import (
    "{{$.Config.Package}}"
)
type CURDALL struct {
{{- range $n := $.Nodes }}
    {{$n.Name}} *{{$n.Name}}CURD
{{- end}}
}

func NewCURDALL(db *ent.Client) *CURDALL {
    return &CURDALL{
{{- range $n := $.Nodes }}
    {{$n.Name}}: New{{$n.Name}}CURD(db),
{{- end}}
    }
}

{{ range $n := $.Nodes }}

var {{lower $n.Name}}CURD *{{$n.Name}}CURD
func New{{$n.Name}}CURD(db *ent.Client) *{{$n.Name}}CURD {
    {{lower $n.Name}}CURD = &{{$n.Name}}CURD{
        Db:      db,
        {{ range $e := $n.Edges}}
        {{ if ne $n.Name $e.Type.Name}}
        {{$e.Type.Name}}Obj: &{{$e.Type.Name}}CURD{
            Db: db,
        },
        {{end}}
        {{ end }}
    }
    return {{lower $n.Name}}CURD
}

func Get{{$n.Name}}CURD() *{{$n.Name}}CURD {
    return {{lower $n.Name}}CURD
}

{{end}}

func rollback(tx *ent.Tx, err error) error {
    if rerr := tx.Rollback(); rerr != nil {
        err = fmt.Errorf("%w: %v", err, rerr)
    }
    return err
}