package genrest

import (
	"context"
	"fmt"
	"strconv"
	"{{$.Config.Package}}"
	"{{$.Config.Package}}/predicate"
	"github.com/gin-gonic/gin"
{{- range $n := $.Nodes }}
	"{{$.Config.Package}}/{{snake $n.Name}}"
{{- end }}
)

{{ range $n := $.Nodes }}



type {{$n.Name}}CURD struct {
	Db     *ent.Client
    {{ range $e := $n.Edges}}
	{{$e.Type.Name}}Obj *{{$e.Type.Name}}CURD
	{{ end }}	
}

func (curd *{{$n.Name}}CURD) RegisterRouter(router interface{}) {
	switch router.(type) {
	case *gin.Engine:
	r := router.(*gin.Engine)
	{{template "router" $n}}

	case *gin.RouterGroup:
	r := router.(*gin.RouterGroup)
		{{$a := (PaseRestNodeMethod $n.Annotations)}}
	{{range $method, $route := $a}}
	{{if eq $method "Get"}}
	{{$method = "GetOne"}}
	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}(c)
		RestReturnFunc(c, data, err)
	})
	{{$method = "GetList"}}
	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}(c)
		RestReturnFunc(c, data, err)
	})
	{{end}}
	{{if eq $method "Create"}}
	{{$method = "CreateOne"}}

	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}(c)
		RestReturnFunc(c, data, err)
	})
	{{$method = "CreateList"}}

	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}(c)
		RestReturnFunc(c, data, err)
	})
	{{end}}
	{{if eq $method "Update"}}
	{{$method = "UpdateOne"}}

	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}(c)
		RestReturnFunc(c, data, err)
	})
	{{$method = "UpdateList"}}

	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		err := curd.{{$method}}(c)
		RestReturnFunc(c, "", err)
	})
	{{end}}
	{{if eq $method "Delete"}}
	{{$method = "DeleteOne"}}

	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}(c)
		RestReturnFunc(c, data, err)
	})
	{{$method = "DeleteList"}}

	r.{{$route}}(curd.{{$method}}RoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}(c)
		RestReturnFunc(c, data, err)
	})
	{{end}}

	{{end}}
	{{ range $e := $n.Edges}}
	{{$a := (PaseRestEdgeMethod $e.Annotations)}}
	{{range $method, $route := $a}}
	{{if eq (toString $e.Unique) "true"}}
	{{if eq $method "Get"}}

	{{end}}
	{{if eq $method "Create"}}
	{{end}}
	{{if eq $method "Delete"}}
	{{end}}
	r.{{$route}}(curd.{{$method}}One{{$e.Type.Name}}By{{$n.Name}}IdRoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}One{{$e.Type.Name}}By{{$n.Name}}Id(c)
		RestReturnFunc(c, data, err)
	})
	{{else}}
	{{if eq $method "Get"}}
	{{end}}
	{{if eq $method "Create"}}
	{{end}}
	{{if eq $method "Delete"}}
	{{end}}
	r.{{$route}}(curd.{{$method}}List{{plural $e.Type.Name}}By{{$n.Name}}IdRoutePath(), func(c *gin.Context) {
		data, err := curd.{{$method}}List{{plural $e.Type.Name}}By{{$n.Name}}Id(c)
		RestReturnFunc(c, data, err)
	})
	{{end}}
	{{end}}
	{{end}}
	}
}

func (curd *{{$n.Name}}CURD) BindObj(c *gin.Context) (*ent.{{$n.Name}}, error) {
	body := new(ent.{{$n.Name}})
	err := c.ShouldBindJSON(body)
	return body, err
}

func (curd *{{$n.Name}}CURD) BindObjs(c *gin.Context) (ent.{{plural $n.Name}}, error) {
	body := make(ent.{{plural $n.Name}}, 0, 0)
	err := c.ShouldBindJSON(&body)
	return body, err
}

func (curd *{{$n.Name}}CURD) BindDefaultQuery(c *gin.Context) (*{{$n.Name}}DefaultQuery, error) {
	body := new({{$n.Name}}DefaultQuery)
	err := c.ShouldBindQuery(body)
	return body, err
}



func (curd *{{$n.Name}}CURD) BaseGetOneQueryer(id int) (*ent.{{$n.Name}}Query, error) {
	return curd.Db.{{$n.Name}}.Query().Where({{snake $n.Name}}.IDEQ(id)), nil
}

func (curd *{{$n.Name}}CURD) defaultGetOneQueryer(c *gin.Context) (*ent.{{$n.Name}}Query, error) {
	id, err := BindId(c)
	if err != nil {
		return nil, err
	}
	return curd.BaseGetOneQueryer(id.ID)
}

func (curd *{{$n.Name}}CURD) GetOneRoutePath() string {
	return "/{{snake $n.Name}}/:id"
}

func (curd *{{$n.Name}}CURD) GetOne(c *gin.Context) (*ent.{{$n.Name}}, error) {
	queryer, err := curd.defaultGetOneQueryer(c)
	if err != nil {
		return nil, err
	}
	curd.selete(queryer)
	return queryer.Only(context.Background())
}

func (curd *{{$n.Name}}CURD) BaseGetListCount(queryer *ent.{{$n.Name}}Query,query *{{$n.Name}}DefaultQuery) (error) {
	ps, err := query.PredicatesExec()
	if err != nil {
		return err
	}
	queryer.Where({{snake $n.Name}}.And(ps...))
    return nil
}

func (curd *{{$n.Name}}CURD) BaseGetListQueryer(queryer *ent.{{$n.Name}}Query,query *{{$n.Name}}DefaultQuery) (error) {
	err := query.Exec(queryer)
	if err != nil {
		return err
	}

	curd.selete(queryer)
	curd.defaultOrder(queryer)

	return nil
}

func (curd *{{$n.Name}}CURD) defaultGetListQueryer(c *gin.Context) (*ent.{{$n.Name}}Query, *ent.{{$n.Name}}Query,error) {
	query, err := curd.BindDefaultQuery(c)
	if err != nil {
		return nil,nil, err
	}
	countQueryer := curd.Db.{{$n.Name}}.Query()

	err = curd.BaseGetListCount(countQueryer,query)
	if err != nil {
		return nil,nil,err
	}

	getListQueryer := curd.Db.{{$n.Name}}.Query()
	err = curd.BaseGetListQueryer(getListQueryer,query)
	if err != nil {
		return nil,nil,err
	}
	return getListQueryer, countQueryer, nil
}

func (curd *{{$n.Name}}CURD) GetListRoutePath() string {
	return "/{{snake (plural $n.Name)}}"
}

type Get{{$n.Name}}ListData struct {
	Count int
	Result []*ent.{{$n.Name}}
}

func (curd *{{$n.Name}}CURD) GetList(c *gin.Context) (*Get{{$n.Name}}ListData, error) {
	getListQueryer,countQueryer, err := curd.defaultGetListQueryer(c)
	if err != nil {
		return nil, err
	}

	count, err := countQueryer.Count(context.Background())
	if err != nil {
		return nil,err
	}

	res, err := getListQueryer.All(context.Background())
	if err != nil {
		return nil,err
	}

	return &Get{{$n.Name}}ListData{count, res}, nil
}



func (curd *{{$n.Name}}CURD) createMutation(m *ent.{{$n.Name}}Mutation,v *ent.{{$n.Name}}) {
	{{range $f := $n.Fields}}
	{{if eq (PaseRestFieldOperability $f.Annotations "Create") "true"}}
	m.Set{{$f.StructField}}(v.{{$f.StructField}})
	{{end}}
	{{end}}
}

func (curd *{{$n.Name}}CURD) updateMutation(m *ent.{{$n.Name}}Mutation,v *ent.{{$n.Name}}) {
	{{range $f := $n.Fields}}
	{{if eq (PaseRestFieldOperability $f.Annotations "Update") "true"}}
	m.Set{{$f.StructField}}(v.{{$f.StructField}})
	{{end}}
	{{end}}
}

func (curd *{{$n.Name}}CURD) optionalOrder(c *gin.Context,queryer *ent.UserQuery) error  {
	var expect = map[string]int{
		{{$order := PaseRestNodeOrderOp $n.Annotations}}
		{{range $k := $order.OptionalOrder}}
		"{{$k}}": 0,
		{{end}}
	}
	orderFunc, err := BindOrder(c, expect)
	if err != nil {
		return err
	}
	queryer.Order(orderFunc...)
	return nil
}

func (curd *{{$n.Name}}CURD) defaultOrder(queryer *ent.{{$n.Name}}Query)  {
	queryer.Order([]ent.OrderFunc{
		ent.Asc(
			{{$order := PaseRestNodeOrderOp $n.Annotations}}
			{{range $acs := $order.DefaultAcsOrder}}
			"{{- $acs}}",
			{{end}}
		),
		ent.Desc(
			{{$order = PaseRestNodeOrderOp $n.Annotations}}
			{{range $Desc := $order.DefaultDescOrder}}
			{{$Desc}},
			{{end}}
		),
	}...)
}

func (curd *{{$n.Name}}CURD) selete(queryer *ent.{{$n.Name}}Query) {
	queryer.Select(
	{{range $f := $n.Fields}}
	{{if eq (PaseRestFieldOperability $f.Annotations "Selete") "true"}}
		{{snake $n.Name}}.Field{{$f.StructField}},
	{{end}}
	{{end}}
	)
}

func (curd *{{$n.Name}}CURD) BaseCreateOneCreater(body *ent.{{$n.Name}}) (*ent.{{$n.Name}}Create) {
	creater := curd.Db.{{$n.Name}}.Create()
	curd.createMutation(creater.Mutation(), body)
	return creater
}

func (curd *{{$n.Name}}CURD) defaultCreateOneCreater(c *gin.Context) (*ent.{{$n.Name}}Create, error) {
	body, err := curd.BindObj(c)
	if err != nil {
		return nil, err
	}
	return curd.BaseCreateOneCreater(body), nil
}

func (curd *{{$n.Name}}CURD) CreateOneRoutePath() string {
	return "/{{snake $n.Name}}"
}


func (curd *{{$n.Name}}CURD) CreateOne(c *gin.Context) (*ent.{{$n.Name}}, error) {
	creater, err := curd.defaultCreateOneCreater(c)
	if err != nil {
		return nil, err
	}
	return creater.Save(context.Background())
}

func (curd *{{$n.Name}}CURD) BaseCreateListBulk(body ent.{{plural $n.Name}}) ([]*ent.{{$n.Name}}Create) {
	bulk := make([]*ent.{{$n.Name}}Create, 0, len(body))
	for _, v := range body {
		creater := curd.Db.{{$n.Name}}.Create()
		curd.createMutation(creater.Mutation(), v)
		bulk = append(bulk, creater)
	}
	return bulk
}

func (curd *{{$n.Name}}CURD) defaultCreateListBulk(c *gin.Context) ([]*ent.{{$n.Name}}Create, error) {
	body, err := curd.BindObjs(c)
	if err != nil {
		return nil, err
	}
	return curd.BaseCreateListBulk(body),nil
}

func (curd *{{$n.Name}}CURD) CreateListRoutePath() string {
	return "/{{snake (plural $n.Name)}}"
}


func (curd *{{$n.Name}}CURD) CreateList(c *gin.Context) ([]*ent.{{$n.Name}}, error) {
	bulk, err := curd.defaultCreateListBulk(c)
	if err != nil {
		return nil, err
	}
	return curd.Db.{{$n.Name}}.CreateBulk(bulk...).Save(context.Background())
}

func (curd *{{$n.Name}}CURD) BaseUpdateOneUpdater(id int, body *ent.{{$n.Name}}) (*ent.{{$n.Name}}UpdateOne, error) {
	updater := curd.Db.{{$n.Name}}.UpdateOneID(id)
	curd.updateMutation(updater.Mutation(), body)
	return updater, nil
}

func (curd *{{$n.Name}}CURD) defaultUpdateOneUpdater(c *gin.Context) (*ent.{{$n.Name}}UpdateOne, error) {
	id, err := BindId(c)
	if err != nil {
		return nil, err
	}
	body, err := curd.BindObj(c)
	if err != nil {
		return nil, err
	}
	return curd.BaseUpdateOneUpdater(id.ID, body)
}

func (curd *{{$n.Name}}CURD) UpdateOneRoutePath() string {
	return "/{{snake $n.Name}}/:id"
}


func (curd *{{$n.Name}}CURD) UpdateOne(c *gin.Context) (*ent.{{$n.Name}}, error) {
	updater, err := curd.defaultUpdateOneUpdater(c)
	if err != nil {
		return nil, err
	}
	return updater.Save(context.Background())
}

func (curd *{{$n.Name}}CURD) BaseUpdateListUpdater(body ent.{{plural $n.Name}}) (*ent.Tx, error) {
	ctx := context.Background()
	tx, err := curd.Db.Tx(ctx)
	if err != nil {
		return nil, err
	}
	for _, v := range body {
		updater := tx.{{$n.Name}}.UpdateOneID(v.ID)
		curd.updateMutation(updater.Mutation(), v)
		_, err := updater.Save(ctx)
		if err != nil {
			if rerr := tx.Rollback(); rerr != nil {
				return tx, fmt.Errorf("$v: %v", err, rerr)
			}
		}
	}
	return tx, nil
}

func (curd *{{$n.Name}}CURD) defaultUpdateListUpdater(c *gin.Context) (*ent.Tx, error) {
	body, err := curd.BindObjs(c)
	if err != nil {
		return nil, err
	}

	return curd.BaseUpdateListUpdater(body)
}

func (curd *{{$n.Name}}CURD) UpdateListRoutePath() string {
	return "/{{snake (plural $n.Name)}}"
}


func (curd *{{$n.Name}}CURD) UpdateList(c *gin.Context) error {
	tx, err := curd.defaultUpdateListUpdater(c)
	if err != nil {
		return err
	}
	return tx.Commit()
}

func (curd *{{$n.Name}}CURD) BaseDeleteOneDeleter(id int) (*ent.{{$n.Name}}Delete) {
	return curd.Db.{{$n.Name}}.Delete().Where({{snake $n.Name}}.IDEQ(id))
}

func (curd *{{$n.Name}}CURD) defaultDeleteOneDeleter(c *gin.Context) (*ent.{{$n.Name}}Delete, error) {
	id, err := BindId(c)
	if err != nil {
		return nil, err
	}
	return curd.BaseDeleteOneDeleter(id.ID), nil
}

func (curd *{{$n.Name}}CURD) DeleteOneRoutePath() string {
	return "/{{snake $n.Name}}/:id"
}


func (curd *{{$n.Name}}CURD) DeleteOne(c *gin.Context) (int, error) {
	deleter, err := curd.defaultDeleteOneDeleter(c)
	if err != nil {
		return 0, err
	}
	return deleter.Exec(context.Background())
}

func (curd *{{$n.Name}}CURD) BaseDeleteListDeleter(ids []int) (*ent.{{$n.Name}}Delete) {
	return curd.Db.{{$n.Name}}.Delete().Where({{snake $n.Name}}.IDIn(ids...))
}

func (curd *{{$n.Name}}CURD) defaultDeleteListDeleter(c *gin.Context) (*ent.{{$n.Name}}Delete, error) {
	ids, err := BindIds(c)
	if err != nil {
		return nil, err
	}

	return curd.BaseDeleteListDeleter(ids.Ids), nil
}

func (curd *{{$n.Name}}CURD) DeleteListRoutePath() string {
	return "/{{snake (plural $n.Name)}}"
}


func (curd *{{$n.Name}}CURD) DeleteList(c *gin.Context) (int, error) {
	deleter, err := curd.defaultDeleteListDeleter(c)
	if err != nil {
		return 0, nil
	}
	return deleter.Exec(context.Background())
}

{{ range $e := $n.Edges}}
{{if eq (toString $e.Unique) "true"}}

func (curd *{{$n.Name}}CURD) GetOne{{$e.Type.Name}}By{{$n.Name}}IdRoutePath() string {
	return "/{{snake $n.Name}}/:id/{{snake $e.Type.Name}}"
}


func (curd *{{$n.Name}}CURD) GetOne{{$e.Type.Name}}By{{$n.Name}}Id(c *gin.Context) (*ent.{{$e.Type.Name}}, error) {
	queryer, err := curd.defaultGetOneQueryer(c)
	if err != nil {
		return nil, err
	}

	return queryer.Query{{$e.Type.Name}}().First(context.Background())
}

func (curd *{{$n.Name}}CURD) CreateOne{{$e.Type.Name}}By{{$n.Name}}IdRoutePath() string {
	return "/{{snake $n.Name}}/:id/{{snake $e.Type.Name}}"
}


func (curd *{{$n.Name}}CURD) CreateOne{{$e.Type.Name}}By{{$n.Name}}Id(c *gin.Context) (*ent.{{$e.Type.Name}}, error) {
	id, err := BindId(c)
	if err != nil {
		return nil, err
	}

	{{snake $n.Name}}Creater, err := curd.{{$e.Type.Name}}Obj.defaultCreateOneCreater(c)
	return {{snake $n.Name}}Creater.Set{{$n.Name}}ID(id.ID).Save(context.Background())
}

func (curd *{{$n.Name}}CURD) DeleteOne{{$e.Type.Name}}By{{$n.Name}}IdRoutePath() string {
	return "/{{snake $n.Name}}/:id/{{snake $e.Type.Name}}"
}


func (curd *{{$n.Name}}CURD) DeleteOne{{$e.Type.Name}}By{{$n.Name}}Id(c *gin.Context) (int, error) {
	queryer, err := curd.defaultGetOneQueryer(c)
	if err != nil {
		return 0, err
	}

	id, err := queryer.Query{{$e.Type.Name}}().OnlyID(context.Background())
	if err != nil {
		return 0, err
	}

	return curd.Db.{{$e.Type.Name}}.Delete().Where({{snake $e.Type.Name}}.IDEQ(id)).Exec(context.Background())
}

{{else}}
func (curd *{{$n.Name}}CURD) GetList{{plural $e.Type.Name}}By{{$n.Name}}IdRoutePath() string {
	return "/{{snake $n.Name}}/:id/{{snake (plural $e.Type.Name)}}"
}


func (curd *{{$n.Name}}CURD) GetList{{plural $e.Type.Name}}By{{$n.Name}}Id(c *gin.Context) ([]*ent.{{$e.Type.Name}}, error) {
	queryer, err := curd.defaultGetOneQueryer(c)
	if err != nil {
		return nil, err
	}

	tmpQueryer := queryer.Query{{plural $e.Type.Name}}()

	query, err := curd.{{$e.Type.Name}}Obj.BindDefaultQuery(c)
	if err != nil {
		return nil, err
	}
	err = query.Exec(tmpQueryer)
	if err != nil {
		return nil, err
	}
	curd.{{$e.Type.Name}}Obj.selete(tmpQueryer)
	curd.{{$e.Type.Name}}Obj.defaultOrder(tmpQueryer)


	return tmpQueryer.All(context.Background())

}

func (curd *{{$n.Name}}CURD) CreateList{{plural $e.Type.Name}}By{{$n.Name}}IdRoutePath() string {
	return "/{{snake $n.Name}}/:id/{{snake (plural $e.Type.Name)}}"
}

func (curd *{{$n.Name}}CURD) CreateList{{plural $e.Type.Name}}By{{$n.Name}}Id(c *gin.Context) ([]*ent.{{$e.Type.Name}}, error) {
	id, err := BindId(c)
	if err != nil {
		return nil, err
	}
	bulk, err := curd.{{$e.Type.Name}}Obj.defaultCreateListBulk(c)
	if err != nil {
		return nil, err
	}
	bg := context.Background()
	tx, err := curd.Db.Tx(bg)
	if err != nil {
		return nil, err
	}

	{{snake (plural $e.Type.Name)}}, err := func() ([]*ent.{{$e.Type.Name}},error) {
		if err != nil {
			return nil ,err
		}
		{{snake (plural $e.Type.Name)}}, err := tx.{{$e.Type.Name}}.CreateBulk(bulk...).Save(bg)
		if err != nil {
			return nil, err
		}
		_,err = tx.{{$n.Name}}.UpdateOneID(id.ID).Add{{plural $e.Type.Name}}({{snake (plural $e.Type.Name)}}...).Save(bg)
		if err != nil {
			return nil, err
		}

		return {{snake (plural $e.Type.Name)}},nil
	}()
	if err != nil {
		if rerr := tx.Rollback(); rerr != nil {
			err = fmt.Errorf("%v: %v", err, rerr)
		}
		return nil, err
	}
	return {{snake (plural $e.Type.Name)}}, tx.Commit()
}

func (curd *{{$n.Name}}CURD) DeleteList{{plural $e.Type.Name}}By{{$n.Name}}IdRoutePath() string {
	return "/{{snake $n.Name}}/:id/{{plural (snake $e.Type.Name)}}"
}

func (curd *{{$n.Name}}CURD) DeleteList{{plural $e.Type.Name}}By{{$n.Name}}Id(c *gin.Context) (int, error) {
	queryer, err := curd.defaultGetOneQueryer(c)
	if err != nil {
		return 0, err
	}

	query, err := curd.{{$e.Type.Name}}Obj.BindDefaultQuery(c)

	if err != nil {
		return 0, err
	}

	ps, err := query.PredicatesExec()
	if err != nil {
		return 0, err
	}
	ids, err := queryer.Query{{plural $e.Type.Name}}().Where(ps...).IDs(context.Background())
	if err != nil {
		return 0, err
	}

	return curd.Db.{{$e.Type.Name}}.Delete().Where({{snake $e.Type.Name}}.IDIn(ids...)).Exec(context.Background())
}
{{end}}

{{end}}
{{end}}