{{ define "genrest/new_obj"}}
package ent
{{ range $n := $.Nodes }}


func New{{$n.Name}}CURD(db *ent.Client) *{{$n.Name}}CURD {
    return &{{$n.Name}}CURD{
        Db:      db,
        {{ range $e := $n.Edges}}
        {{$e.Type.Name}}Obj: newBase{{$e.Type.Name}}CURD(db),
        {{ end }}
    }
}

{{end}}
{{end}}